<%= link_to products_path do %>
    <h1>Vendelo</h1>
<% end %>

<%= link_to 'Añadir producto', new_product_path if Current.user %>
<%= link_to 'Categorias', categories_path if Current.user %>
<%= link_to 'login', new_session_path unless Current.user %>
<%= link_to 'Registro', new_user_path unless Current.user %>
<%= link_to 'cerrar sesion', session_path(Current.user.id), data: {
    turbo_method: :delete, 
    turbo_confirm: 'Estas seguro?'
} if Current.user %>